<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Lue</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <img src="https://vuejs.org/images/logo.png" alt="Vue logo">
    <h1>{{ greeting }}</h1>
    <div>
      <input v-model="wareUnitNew.title" placeholder="">
      <input v-model="wareUnitNew.about_info" placeholder="">
      <input v-model="wareUnitNew.price" placeholder="">
      <input type="file" id="files" ref="files" multiple v-on:change="handleFileUploads()"/>
      <button v-on:click="postFormData()">Submit</button>
    </div>
    <ul id="wareUnits">
      <div id="ware" v-for="item in wareUnits">
        <li>
          <div v-for="(value, key) in item">
            <div v-if="key === 'pictures'">
              <div v-for="img_data in item.pictures">
                <img :src="img_data">
              </div>
            </div>
            <div v-else>
              {{ key }} : {{ value }}
            </div>
          </div>
        </li>
      </div>
    </ul>
    <ul>
      <li>
        To learn more about Vue, visit
        <a :href="docsURL" target="_blank">
          {{ humanizeURL(docsURL) }}
        </a>
      </li>
      <li>
        For live help with simple questions, check out
        <a :href="discordURL" target="_blank">
          the Discord chat
        </a>
      </li>
      <li>
        For more complex questions, post to
        <a :href="forumURL" target="_blank">
          the forum
        </a>
      </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
          greeting: 'Welcome to your Vue.js app!',
          docsURL: 'http://vuejs.org/guide/',
          discordURL: 'https://chat.vuejs.org',
          forumURL: 'http://forum.vuejs.org/',
          wareUnitNew: {
            title: '',
            about_info: '',
            price: '',
            pictures: []
          },
          wareUnits: []
      },
      mounted() {
        this.getWareUnits();
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        },
        getWareUnits: function () {
          axios
            .get('http://${SERVER_URL}/all.json')
            .then(response => (this.wareUnits = response.data))
        },
        updateWareForm: function () {
          this.wareUnitNew.title = '';
          this.wareUnitNew.about_info = '';
          this.wareUnitNew.price = '';
          this.$refs.files.value = null;
        },
        postFormData: function () {
          const formData = new FormData();
          formData.append('title', this.wareUnitNew.title);
          formData.append('about_info', this.wareUnitNew.about_info);
          formData.append('price', this.wareUnitNew.price);
          for (var i = 0; i < this.wareUnitNew.pictures.length; i++) {
            formData.append(String(i) + '.img', this.wareUnitNew.pictures[i]);
          }
          axios({
            method: 'post',
            url: 'http://${SERVER_URL}/save_picture',
            data: formData,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'multipart/form-data',
            }
          })
          .then(function (response) {
              if (response.status == 201) {
                  console.log(response);
                  this.updateWareForm();
                  this.getWareUnits();
              }
          })
          .catch(function(error) {
                window.location = "/"
          });
        },
        handleFileUploads(event) {
          this.wareUnitNew.pictures = this.$refs.files.files;
          // .filter(function(item) {
            // if (item.type.match('image.*')){ return item }
          // })
        },
        checkContentMimeType(file) {
          if (file.type.match('image.*')) {
            return file;
          }
        }
      }
    })
  </script>
</body>
</html>
